nav .btn{
    position: absolute;
    right:0;
    margin-top: 1em;
}
nav .dropdown-content{
    left: auto !important;
    right: 0 !important;
    top: 67px !important;
    width: 200px !important;
}
.checkout a{
    color:#fff;
}
.headline{
    margin: 0 auto;
    padding-top: 2em;
}
.home-bkgd-img{
    background: url("https://i.postimg.cc/vm5W1F9Z/Screen-Shot-2020-01-23-at-5-28-45-PM.png");
    background: url(https://i.postimg.cc/vm5W1F9Z/Screen-Shot-2020-01-23-at-5-28-45-PM.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
}
.logo{
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    padding: 10px;
}
.pothos-nav{
    background-color: #fff;
}